div.header-container {
	background: url('../../asset//images/background.jpg') no-repeat;
	background-position: bottom 60% left 30%;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
