h1 {
	color: #fff;
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
	font-size: 4em;
	letter-spacing: -2px;
	text-align: center;
	text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.6);

	&:after {
		display: block;
		color: #fff;
		letter-spacing: 1px;
		font-family: "Poiret One", sans-serif;
		content: "React project powered by webpack and babel with support for sass";
		font-size: 0.4em;
		text-align: center;
	}
}

.button-line {
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	background: transparent;
	border: 1px solid #fff;
	color: #fff;
	text-align: center;
	font-size: 1.4em;
	opacity: 0.8;
	padding: 20px 40px;
	text-decoration: none;
	transition: all 0.5s ease;
	margin: 0 auto;
	display: block;

	&:hover {
		opacity: 1;
		background-color: #fff;
		color: grey;
	}
}
